<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <br/>
  <div class="test_components">
    <h4>test-component</h4>
    {{#test-component
      name="My Test Component"
      customClick=test
    }}
      <strong>I'm the child html passed in</strong>
    {{/test-component}}
  </div>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
{{outlet}}